matplotlib==3.1.2
numpy==1.16.4
pandas==0.25.1
xlrd==1.2.0
scikit-learn==0.22
nltk==3.4.5
textblob==0.15.3
spacy==2.2.3
gensim==3.8.1
wordcloud==1.6.0
langdetect==1.0.7
keras==2.3.1 
tensorflow==1.15.0