## data
numpy==1.16.4
pandas==0.25.1
xlrd==1.2.0
## plot
matplotlib==3.1.2
## statistics
statsmodels==0.10.1
## machine learning
scikit-learn==0.22
tslearn==0.4.1
## deep learning
tensorflow==2.6.0
## econometrics
pmdarima==1.5.2
arch==4.13
## prophet
pystan==2.19.1.1
fbprophet==0.5